#appointment {
    padding: 4rem 10%;

    background: var(--subtext);
}

.appointment-title {
    margin-bottom: 2.5rem;

    color: var(--accent);
    font-size: 1.7rem;
    text-align: center;
    text-transform: uppercase;
}

#appointment-form {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1.5rem;

    background: var(--background);
    border-radius: 5px;
}

.form-content {
    display: flex;
    flex-direction: column;

    flex: 30%;
    padding: 1.5rem 1rem;

    & .form-title {
        font-size: 1.3rem;
    }

    & label {
        margin: 1rem 0 0.5rem;
    }

    & input[type="text"],
    input[type="date"] {
        padding: 0.5rem 1rem;

        border-radius: 5px;
        border-width: 1px;
    }

    & .form-terms {
        flex-grow: 1;

        margin: 1rem 0;

        font-size: 1rem;
    }

    & #accept_terms {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        margin-block: 1rem;

        font-size: 1rem;

        & input[type="checkbox"]{
            height: 1rem;
            width: 1rem;
        }
    }
}

@media (max-width: 1250px) {
    .form-content {
        flex: 40%;
    }
}

@media (max-width: 800px) {
    .form-content {
        flex: 50%;
        padding: 0rem;
    }
}



